@{
    ViewData["Title"] = "Sala 1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css">
</head>
<header>
<section class="comenzar">
<h3>Bienvenido a la sala de escape de McDonald's en la cual necesitas encontrar un combo Big-Mac con papas grandes, coca común y un McFlurry para llevarlos a Ailu y Ale. Para pasar de una sala a otra deberás tocar el mapa (primero debes encontrarlo)</h3>
<a href='@Url.Action("Sala2", "Home")'>
<img src='@Url.Content("~/imagenes/SALA 1.jpg")' alt="sala2">
</section>
</header>








    
