
<section class="creadores">
<h2>NOSOTROS</h2>

<div>
<h3>AILIN SEVERINO</h3>
<img src="~/imagenes/FotoAilu.jfif" alt="PC">
</div>

<div>
<h3>VALENTINA ELTERMAN</h3>
<img src = "~/imagenes/Foto Valu.jpg" alt = "PC">
</div>

<div>
<h3>ALEJO CAMPANO</h3>
<img src = "~/imagenes/FotoAlejo.jpg" alt = "PC">
</div>

<a href='@Url.Action("Index","Home")' alt="Volver a la página principal">Volver al inicio</a>
</section>