<h2>NOSOTROS</h2>
<h3>AILIN SEVERINO</h3>
<img src="imagenes/FotoAilu.jpg" alt="PC">
<h3>VALENTINA ELTERMAN</h3>
<img scr = "imagenes/Foto Valu.jpg" alt = "PC">
<h3>ALEJO CAMPANO</h3>
<img scr = "imagenes/FotoAlejo.jpg" alt = "PC">