<h2>NOSOTROS</h2>
<h3>AILIN SEVERINO</h3>
<img src="~/imagenes/FotoAilu.jfif" alt="PC">
<h3>VALENTINA ELTERMAN</h3>
<img src = "~/imagenes/Foto Valu.jpg" alt = "PC">
<h3>ALEJO CAMPANO</h3>
<img src = "~/imagenes/FotoAlejo.jpg" alt = "PC">

<a href='@Url.Action("Index","Home")' alt="Volver a la página principal">Volver al inicio</a>