<section class="historia">
<p>Tenes que ayudar a Alejo y Ailu a armar su combo Big-Mac con papas grandes, coca común y un McFlurry dentro de un Mac abandonado mientras vas desbloqueando sectores del mismo.</p>

<p>La idea es ayudarlos a que encuentren su combo e ir avanzando en el Mcdonalds pasando por diferentes sectores. En cada uno hay que completar un desafío para así poder pasar al siguiente. </p>

<p> Sabe que va a haber un timer (se va a cronometrar) y la persona que logre salir en menos tiempo es la que gana. </p>

<h4>IMPORTANTE: Al superar un desafío obtienes una parte del premio.</h4>
</section>
<a href='@Url.Action("Index","Home")' alt="Volver a la página principal">Volver al inicio</a>
