@{
    ViewData["Title"] = "Index";
}
<section class = "index">
<div>
    <p>Bienvenidos a la Sala de Escape del Mc Donald's</p>
    <h1>Ingresa tu nombre:</h1>
    <form action='@Url.Action("Formulario", "Home")' method = "POST" enctype="multipart/form-data">
    <input type="text" name="nombre"/>
    <input type ="submit" value="Enviar"/>
</form>
</div>
</section>
