<section class = "indexA">
<div>
<p>Bienvenidos a la Sala de Escape del Mc Donald's</p>
    <a href='@Url.Action("Comenzar","Home")' alt = "Volver a la pag principal"> Comenzar</a>
    <a href='@Url.Action("Historia","Home")' alt = "Volver a la pag principal"> Ver la historia</a>
    <a href='@Url.Action("Creadores","Home")' alt = "Volver a la pag principal"> Creadores</a>
</div>
</section>