<section class="sala6">
<h4>¡¡¡¡¡¡FELICIDADES!!!!!! Desbloqueaste las papas lo que significa que...</h4>
<h1>LO LOGRASTEEEEE - ALE Y AILU CONSIGUIERON TODO LO QUE QUERIAN</h1>

<img scr = "~/imagenes/feliz.png" alt = "feliz">
</section>
