html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) 
{
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.index{
  background-color: gray;
}

.header1{
  background-image: url(/imagenes/MacAbandonado.jpg);
  background-position: center;
  height: 1000px;
  background-size: cover;
  text-align: center;
  text-transform:uppercase;
}

.header1 h3{
  color: whitesmoke;
  padding: 0.5%;
}
.header1 img{
  margin-top: 36%;
  margin-left: 72%;
 width: 2%;
 opacity: 7%;
 height: auto;
}
