
html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) 
{
  html {
    font-size: 16px;
  }
}

body {
  margin: 1px;
  padding: 1px;
  height: 1px;

}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  clear: both;
}
.index{
height: 1000px;
width: 100%;
background-image: url(/imagenes/Index.jpg);
background-position: center;
background-size: cover;
border-style: none;
}

.index div a
{

  color: rgb(228, 38, 38);
  font-size: xx-large;
  border: rgb(255, 255, 255);
  border-radius: 2px 2px 2px 2px;
  margin-left: 16%;
  margin-right: 4%;
} 

.index h1
{
  font-size: x-large;
  color: white;
  text-align: center;
}

.index form{
  background: none;
  border-radius: 15px;
  width: 13%;
  padding: 0.3%;
  margin-top: 2%;
  margin-left: 3%;
}

.index p
{
  font-size: x-large;
  color: white;
  text-align: center;
}

.comenzar{
  background-image: url(/imagenes/MacAbandonado.jpg);
  background-position: center;
  height: 1000px;
  background-size: cover;
  text-align: center;
  text-transform:uppercase;
}

.comenzar h3{
  color: whitesmoke;
  padding: 0.5%;
}
.comenzar img{
  margin-top: 36%;
  margin-left: 72%;
 width: 2%;
 opacity: 7%;
 height: auto;
}

.creadores h2
{
  text-align: center;
  text-decoration: underline;
}

.creadores div{
  border: #000000;
  width: 80%;
  height: auto;
}

.creadores a {
  clear: both;
  text-decoration: underline;
}

.historia
{
  background-image: url(/imagenes/hidtoria.jpg);
  height: 1000px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.historia p
{
margin-left: 1%;
margin-right: 1%;
  color: white;
  font-size: xx-large;
}

.historia h4{
  color: rgb(245, 8, 8);
}
.sala2
{

}

.sala3
{

}
.sala4
{

}

.sala5
{

}

.sala6
{
  
}